table {
  margin: auto;
  border-spacing: 8px;
}
.game-square {
  font-size: 50px;
  width: 70px;
  height: 70px;
  vertical-align: top;
  color: white;
}
.resetBtn {
  font-size: 24px;
  padding: 12px;
  margin: 10px auto;
}
