.App {
  text-align: center;
}

.board {
  margin: auto;
}
.game-board {
  width: 25%;
  height: 32%;
  border-radius: 8%;
  margin: auto;
  background-color: bisque;
}

h1 {
  margin-top: 10px;
  padding-top: 12px;
}
